body {
  background: #15181e;
  color: white;
  height: 100vh;
  font-family: 'Fira Code';
  margin: 0;
}

.pallette {
  color: aliceblue;
  display: flex;
  margin: 40px;
  padding: 20px;
  border-radius: 20px;
}

.pallette-color {
  flex: 1;
  background: grey;
  margin: 5px;
  border-radius: 20px;
}

.pallette-name {
  text-align: center;
  margin-top: 10px;
}

.pallette-item {
  height: 400px;
  flex: auto;
  display: flex;
  flex-direction: column;
  margin: 5px;
  border-radius: 20px;
}

.app-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

#root {
  height: 100vh;
}
