body {
  background: #15181e;
  color: white;
  height: 1w00vh;
  font-family: 'Fira Code';
  margin: 0;
}

.pallette {
  margin-top: 5px;
  color: aliceblue;
  display: flex;
  padding: 20px;
  border-radius: 20px;
  flex-wrap: wrap;
}

.pallette-wrapper {
  margin: 40px;
  display: flex;
  flex-direction: column;
}

.pallette-name {
  align-self: flex-start;
  margin-left: 20px;
}

.pallette-color {
  flex: 1;
  background: grey;
  margin: 5px;
  border-radius: 20px;
}

.pallette-name {
  text-align: center;
  margin-top: 10px;
}

.pallette-item {
  height: 400px;
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 5px;
  border-radius: 20px;
}

.app-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

#root {
  /* height: 100vh; */
}
